body {
    font: 16px/28px arial, sans serif;
    background-color: grey;
    color: #333;
}


.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin: top;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 5px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 400px;
    background-image: url(Baskettt.jpg);
    background-size: cover;
    background-position: 0 -75px;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid salmon;
}
.image {
    height: 500px;
    background-image: url(BSKET\ 6.jpg);
    background-size: cover;
    background-position: 0 -350px;
}

.photo {
    height: 500px;
    background-image: url(BASKET\ 2.jpg);
    background-size: cover;
    background-position: 0 -650px;
    

}

.picture {
    background-image: url(BASKET\ 5.jpg);
    height: 500px;
    background-position: 0 -450px;
    background-size: cover;
}

.content {
    padding: 20px;
}

.conten h2 {
    font-size: 28px;
}

.conten .penulis {
    font-size: 11px;
    margin-top: 5px;
}

.content .penulis a {
    color: salmon;
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;

}

.footer {
    background-color: #333;
    padding: 10px;

}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}
